* text=auto eol=lf

# Preserve reviewed upstream licence bytes, including original final blank lines.
third-party/dokka/*.txt whitespace=-blank-at-eof
*.bat text eol=crlf
*.cmd text eol=crlf
*.png binary
*.jpg binary
*.ico binary
*.nupkg binary
*.tgz binary
*.binpb binary
*.jar binary
*.zip binary
**/generated/**/*.java linguist-generated=true
**/generated/**/*.kt linguist-generated=true
**/Generated/*.cs linguist-generated=true
**/gen/**/*.ts linguist-generated=true
