LICENSE
LICENSES/
**/LICENSE
**/Generated/
**/gen/
**/packages.lock.json
package-lock.json
artifacts/
**/bin/
**/obj/
**/dist/
**/node_modules/
**/generated/
**/build/
**/.gradle/
**/.kotlin/
**/gradle.lockfile
**/gradle/verification-metadata.xml
